::placeholder {
	color: rgb(48, 48, 48);
}

/* styling the pieces of the form */

#entry {
	font-family: "Oswald", sans-serif;
	width: -webkit-fill-available;
	color: rgb(48, 48, 48);
	height: 5em;
	border-radius: 0.15em;
	border: none;
}

#concepts {
	width: -webkit-fill-available;
	height: 2em;
	border-radius: 0.15em;
	border: none;
	font-family: "Oswald", sans-serif;
}

#journalDate {
	border-radius: 0.15em;
	border: none;
	background-color: #ffffff;
	height: 2em;
	color: rgb(48, 48, 48);
	font-family: "Oswald", sans-serif;
}

#mood {
	float: right;
	height: 2em;
	background-color: rgb(255, 255, 255);
	border-radius: 0.15em;
	border: none;
	color: rgb(48, 48, 48);
	font-family: "Oswald", sans-serif;
}

/* Styling the form */

form {
	display: flex;
	flex-direction: column;
	margin: auto;
	max-width: 500px;
	min-width: 230px;
}

.formBottom {
	display: flex;
}

.formTop,
.formEntry,
.formConcepts {
	padding: 0.3em 0.6em;
}

.formTop {
	padding-top: 0.6em;
}

.formBody {
	background-color: rgb(64, 96, 145);
	border-radius: 5px;
}

/* Styling the title */

h1 {
	text-align: center;
	font-family: "Bungee Hairline", sans-serif;
	font-weight: 800;
	margin-bottom: 0px;
	padding-bottom: 0px;
	height: 1.8em;
}

h5 {
	font-family: "Oswald", sans-serif;
	text-align: center;
	margin-top: 0;
	font-weight: 200
}

/* styling the submit button */

a.button1 {
	display: inline-block;
	padding: 0.1em 1.5em;
	border: 0.15em solid white;
	margin: auto;
	border-radius: 0.15em;
	box-sizing: border-box;
	text-decoration: none;
	font-family: "Oswald", sans-serif;
	font-weight: 500;
	color: white;
	text-align: center;
	transition: all 0.2s;
	margin-top: 1em;
	margin-bottom: 0;
}

a.button1:hover {
	color: rgb(64, 96, 145);
	background-color: white;
}

@media all and (max-width: 30em) {
	a.button1 {
		display: block;
		margin: 0.4em auto;
	}
}

/* Saying Ni another time https://codepen.io/ifekt/pen/zBaEVJ */

span.add-label {
	display: none;
}
.button1:hover span.align {
	display: none;
}
.button1:hover span.add-label {
	display: block;
	padding: 0em 0.4em;
}

/* info corner button */

.info {
	float: right;
	color: white;
	padding: 0.2em 0.4em;
	text-decoration: none;
	font-family: "Oswald", sans-serif;
	font-size: 0.8em;
}

.info:hover {
	background-color: white;
	color: rgb(64, 96, 145);
	border-radius: 0.15em 0em;
}

/* styling options in dropdown */

optgroup {
	font-size: 1.3em;
}


/* Dark Theme Styles */

.wrapper {
	background-color: rgb(64, 96, 145);
	padding-bottom: 5em;
	margin-top: 5em;
}

.wrapper>h1, .wrapper>h5{
	color: white;
}

.wrapper>h1 {
	padding-top: 2em;
}
