


::placeholder {
	color: rgb(48, 48, 48);
}

body {margin: 0}
/* styling the pieces of the form */

#entry {
	font-family: "Oswald", sans-serif;
	width: -webkit-fill-available;
	color: rgb(48, 48, 48);
	height: 5em;
	border-radius: 0.15em;
	border: none;
}

#concepts {
	width: -webkit-fill-available;
	height: 2em;
	border-radius: 0.15em;
	border: none;
	font-family: "Oswald", sans-serif;
}

#journalDate {
	border-radius: 0.15em;
	border: none;
	background-color: #ffffff;
	height: 2em;
	color: rgb(48, 48, 48);
	font-family: "Oswald", sans-serif;
}

#mood {
	float: right;
	height: 2em;
	background-color: rgb(255, 255, 255);
	border-radius: 0.15em;
	border: none;
	color: rgb(48, 48, 48);
	font-family: "Oswald", sans-serif;
}

/* Styling the form */

form {
	display: flex;
	flex-direction: column;
	margin: auto;
	max-width: 500px;
	min-width: 230px;
}

.formBottom {
	display: flex;
}

.formTop,
.formEntry,
.formConcepts {
	padding: 0.3em 0.6em;
}

.formTop {
	padding-top: 0.6em;
}

.formBody {
	background-color: rgb(106, 166, 190);
	border-radius: 5px;
	margin-right: 2em;
	margin-left: 2em;
	min-width: 275px;
	
}

/* Styling the title */

h1 {
	text-align: center;
	font-family: "Bungee Hairline", sans-serif;
	font-weight: 800;
	margin: 0px;
	padding-bottom: 0px;
	height: 1.8em;
}

h5 {
	font-family: "Oswald", sans-serif;
	text-align: center;
	margin-top: 0;
	font-weight: 200
}

/* styling the submit button */

a.button1 {
	display: inline-block;
	padding: 0.1em 1.5em;
	border: 0.07em solid white;
	margin: auto;
	border-radius: 0.15em;
	box-sizing: border-box;
	text-decoration: none;
	font-family: "Oswald", sans-serif;
	font-weight: 500;
	color: white;
	text-align: center;
	transition: all 0.2s;
	margin-top: 1em;
	margin-bottom: 0;
}

a.button1:hover {
	color: rgb(64, 96, 145);
	background-color: white;
}

@media all and (max-width: 30em) {
	a.button1 {
		display: block;
		margin: 0.4em auto;
	}
}

/* Saying Ni another time https://codepen.io/ifekt/pen/zBaEVJ */

span.add-label {
	display: none;
}
.button1:hover span.align {
	display: none;
}
.button1:hover span.add-label {
	display: block;
	padding: 0em 0.4em;
}

/* info corner button */

.info {
	float: right;
	color: white;
	padding: 0.2em 0.4em;
	text-decoration: none;
	font-family: "Oswald", sans-serif;
	font-size: 0.8em;
}

.info:hover {
	background-color: white;
	color: rgb(64, 96, 145);
	border-radius: 0.15em 0em;
}

/* styling options in dropdown */

optgroup {
	font-size: 1.3em;
}





/* card 1 */

.card1 {
	background: url(/src/images/bg.jpg);
	background-size: cover;
	padding-bottom: 7em;
	padding-top: 2em;
	background-attachment: fixed;
  	background-position: left bottom;
	background-repeat: no-repeat;
	/* gradient background */
	/* background: linear-gradient(to top, rgba(255, 255, 255, 0.425) 0%,rgba(255, 255, 255, 0.452) 100%),url(/src/images/bg.jpg); */
	/* background opacity */
	background-color: rgba(238, 238, 238, 0.89) !important;
	background-blend-mode: overlay;
  
}

.card1>h1 {
	font-size: -webkit-xxx-large;
    text-shadow: 2px 3px 5px red;
}

.card1>h5 {
	/* text-shadow: 2px 0px 8px rgb(73, 73, 73); */
}

.card1>form>.formBody>.formTop {
	padding-top: 2em;
}

/*card 2 dark theme */

.card2 {
	background-color: rgb(106, 133, 190);
	padding: 5em 3em;
	border: 2px solid white;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	
}

.card2>.card2Body>form>.formBody {
	background-color: rgb(106, 133, 190);
	padding-top: 0.5em;
}

.card2>.card2Body>form>.formBody>.formEntry {
	min-width: 350px;
}

.card2>.card2Body>h1, .card2>.card2Body>h5{
	color: white;
	margin: 0;
}

.card2image {
	height: 300px;
	width: auto;
	padding-top: 5em;
	padding: 0em 2em 1em 2em;
}

/* card 3 */

.card3 {
	background: url(/src/images/bg05.jpg);
	/* background-size: cover; */
	padding-bottom: 7em;
	padding-top: 2em;
	background-attachment: fixed;
  	background-position: center;
  	background-repeat: no-repeat;
  
}

.card3>h1 {
	color: white;
	font-size: -webkit-xxx-large;
	text-shadow: 0px 0px 18px rgb(255, 255, 255);
	padding-top: 1em;
}

.card3>h5 {
	color: white;
	/* text-shadow: 0px 0px 8px rgb(255, 255, 255); */
}

.card3>form>.formBody {
	background-color: rgba(106, 166, 190, 0.555);
}

